{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block start %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'styles/add_product.css' %}">

<section id="add_product_section" style="padding: 120px 0px;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <div class="add_product-section-title py-3">
                    <h1 style="text-transform: uppercase;">
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <div class="add_product-form">
                    <div class="card p-3">
                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form | crispy }}

                            <div class="add_product-buttons">
                                <div class="row d-flex">
                                    <div class="col-auto p-2">
                                        <div class="submit-button">
                                            <button class="p-2 border-0 text-white"
                                                style="background-color: teal;">Submit</button>
                                        </div>
                                    </div>
                                    {% if product %}
                                    <div class="col-auto p-2">
                                        <div class="delete-button p-2">
                                            <a class="p-2 border-0 text-white"
                                                href="{% url 'delete_product' product.id %}"
                                                style="background-color: red;">Delete</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'core/footer.html' %}
{% endblock %}